body {
    background-color: #d7e0dc4c;  /* 设置背景色为浅灰色 */
}

main{
    padding-top: 16px;
}


.bold-text{
    font-weight: bold;
}


.face-picture {
    border-radius: 50%;
    width: 16vw;
    height: 16vw;
    object-fit: cover;
}

.fab{
    font-size: 24px;
    color:grey;
}

.info-block{
    gap: 20px;
    margin-bottom: 20px;
}


.section {
    margin-bottom: 30px;
}
.section h2 {
    border-bottom: 2px solid #0056b3;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.entry {
    margin-bottom: 20px;
}
.entry h3 {
    margin: 0;
    font-size: 1.2em;
    color: #0056b3;
}
.entry .details {
    font-style: italic;
    color: #555;
}
.entry p {
    margin: 5px 0;
}

h2{
    font-size: 1.5em;
}

#webScreenShot:hover{
    transform: scale(1.02);
    transition-duration: 130ms;
    cursor:pointer;
  }